/*About us*/

@media screen and (max-width: 767px) {
  .about-us {
    padding-top: 60px;

    &-list-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .about-us-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color-text;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $background-secondary-color;
    height: 120px;
  }
  .icon-img {
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us {
    padding-top: 60px;
  }
  .about-us-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 354px;
      height: 251px;
    }

    &-item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &-item:nth-child(odd) {
      margin-right: 30px;
    }
  }
  .about-us-list-item-img {
    display: block;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: $background-secondary-color;
  }
  .about-us-title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color-text;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $background-secondary-color;
    width: 354px;
    height: 120px;
  }
  .icon-img {
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    padding-top: 94px;
  }
  .about-us-list {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
  .about-us-list-item-img {
    display: block;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: $background-secondary-color;
  }
  .about-us-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color-text;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .box {
    margin-bottom: 30px;
    background-color: $background-secondary-color;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    width: 270px;
    height: 120px;
  }
  .icon-img {
    height: 70px;
    width: 70px;
  }
}
