/*Footer*/

@media screen and (max-width: 767px) {
  .footer {
    background-color: $background-footer-color;

    > .container {
      display: flex;
      flex-direction: column;
    }
  }
  .logo-footer {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .logo-part2 {
    color: $third-color-text;
  }
  .footer-list-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    &.link1 {
      color: $third-color-text;
    }

    &.link2 {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .join-in-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $background-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $third-color-text;
      border-radius: 50%;
    }
  }
  .join-in {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  .mail-form {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  .footer-list {
    text-align: center;
    margin-bottom: 60px;
    &-item:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .join-in-list {
    display: flex;
    margin-bottom: 60px;
  }
  .join-in-item:not(:last-child) {
    margin-right: 10px;
  }
  .mail-form-input {
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $background-footer-color;
    margin-bottom: 20px;
  }
  .mail-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mail-form-btn {
    padding: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .mail-form-btn {
    font-family: $main-font;
    color: $third-color-text;
    background-color: $accent-color;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .icon-send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: $background-footer-color;

    > .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-top: 60px;
    }
  }
  .logo-footer {
    text-align: center;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
  }
  .logo-part2 {
    color: $third-color-text;
  }
  .footer-list-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    &.link1 {
      color: $third-color-text;
    }

    &.link2 {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .join-in-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $background-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $third-color-text;
      border-radius: 50%;
    }
  }
  .join-in {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  .mail-form {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
  .footer-list {
    text-align: center;
    &-item:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .join-in-list {
    display: flex;
  }
  .join-in-item:not(:last-child) {
    margin-right: 10px;
  }
  .mail-form-input {
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $background-footer-color;
    margin-bottom: 20px;
  }
  .mail-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mail-form-btn {
    padding: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .mail-form-btn {
    font-family: $main-font;
    color: $third-color-text;
    background-color: $accent-color;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .icon-send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
  .footer-part1 {
    margin-right: 165px;
  }
  .footer-part2 {
    margin-bottom: 60px;
  }
  .footer-part3 {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: $background-footer-color;

    > .container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  .logo-footer {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .logo-part2 {
    color: $third-color-text;
  }
  .footer-list-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    &.link1 {
      color: $third-color-text;
    }

    &.link2 {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .join-in-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $background-color;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $third-color-text;
      border-radius: 50%;
    }
  }
  .join-in {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .mail-form {
    color: $background-color;
    margin-bottom: 20px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-list {
    padding-bottom: 60px;

    &-item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  .join-in-list {
    display: flex;
  }
  .join-in-item:not(:last-child) {
    margin-right: 10px;
  }
  .mail-form-input {
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $background-footer-color;
  }
  .mail-form-field {
    display: flex;
  }
  .mail-form-btn {
    padding: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .mail-form-btn {
    font-family: $main-font;
    color: $third-color-text;
    background-color: $accent-color;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .icon-send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}
