/*Header*/

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  &-part {
    color: $accent-color;
  }
}
.navigation-list-link,
.navigation-contacts-list-link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-color-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 15px;
}
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 11px;
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }

  .link {
    display: inline;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    padding: 0;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  .menu-btn {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .icon-close {
    display: none;
  }

  .header-menu {
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  .navigation-list-link,
  .navigation-contacts-list-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.navigation-contacts-list-link {
      color: $main-color-text;
    }

    &.navigation-list-link {
      color: $secondary-color-text;
    }
  }

  .navigation-list-link {
    position: relative;

    .current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  .navigation-list {
    margin-bottom: 60px;

    &-item:not(:last-child) {
      margin-bottom: 40px;
    }

    &-link {
      padding: 0;
    }
  }

  .navigation-contacts {
    margin-bottom: 60px;

    &-list:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .navigation-contacts-list-link {
    color: $main-color-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .icon-phone {
    fill: currentColor;
    margin-right: 10px;
    width: 10px;
    height: 15px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  .icon-mail {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 11px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

/*.header > .container,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list {
  padding-left: 0px;

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation-contacts {
  display: flex;
  align-items: center;
  padding-left: 0px;

  &-list:not(:last-child) {
    margin-right: 30px;
  }
}
.navigation-list-link {
  color: $secondary-color-text;
  position: relative;

  .current {
    color: $accent-color;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  margin-top: 35px;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}
.navigation-contacts-list-link {
  display: flex;
  align-items: center;
  color: $main-color-text;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 15px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 11px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}*/
