/*Header*/

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  &-part {
    color: $accent-color;
  }
}

.navigation-list-link,
.navigation-contacts-list-link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-color-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 15px;
}
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 11px;
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    max-width: 480px;
    margin: 0 auto;

    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .logo {
    display: block;
    padding: 0;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  .menu-btn {
    padding: 10px 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: $accent-color;
    }

    &.is-open {
      .icon-close {
        display: block;
      }

      .icon-burger {
        display: none;
      }
    }
  }
  .icon-close {
    display: none;
  }

  .header-menu {
    display: none;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #ececec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(+200%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateX(0);
    }
  }

  .navigation-list-link,
  .navigation-contacts-list-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.navigation-contacts-list-link {
      color: $main-color-text;
    }

    &.navigation-list-link {
      color: $secondary-color-text;
    }
  }

  .navigation-list-link {
    position: relative;

    &.current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -8px;
  }

  .navigation-list {
    margin-bottom: 60px;

    &-item:not(:last-child) {
      margin-bottom: 40px;
    }

    &-link {
      padding: 0;
    }

    .link {
      display: inline;
    }
  }

  .navigation-contacts {
    margin-bottom: 60px;

    &-list:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .navigation-contacts-list-link {
    color: $main-color-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .icon-phone {
    fill: currentColor;
    margin-right: 10px;
    width: 10px;
    height: 15px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  .icon-mail {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 11px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-btn {
    display: none;
  }

  .logo {
    display: block;
    padding: 0;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-right: 68px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .header {
    position: relative;
    max-width: 480px;

    > .container {
      display: flex;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list-link,
  .navigation-contacts-list-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.navigation-contacts-list-link {
      color: $main-color-text;
    }

    &.navigation-list-link {
      color: $secondary-color-text;
    }
  }

  .navigation-list-link {
    position: relative;

    &.current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -32px;
  }

  .navigation-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 68px;

    &-list:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .navigation-contacts-list-link {
    color: $main-color-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .icon-phone {
    fill: currentColor;
    margin-right: 10px;
    width: 10px;
    height: 15px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  .icon-mail {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 11px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header > .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .menu-btn {
    display: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    padding-left: 0px;

    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
  .navigation-contacts {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 305px;

    &-list:not(:last-child) {
      margin-right: 30px;
    }
  }
  .navigation-list-link {
    position: relative;

    &.current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: -8px;
  }

  .navigation-contacts-list-link {
    display: flex;
    align-items: center;
    color: $main-color-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .icon-phone {
    fill: currentColor;
    margin-right: 10px;
    width: 10px;
    height: 15px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  .icon-mail {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 11px;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}
