/*Hero СЕКЦИЯ*/

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/main-page/hero/hero-img-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 480px;
    height: 400px;

    .container {
      padding-top: 118px;
      padding-bottom: 118px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .hero-title {
    margin-bottom: 30px;
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-color-text;
  }
  .modal-btn {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $third-color-text;
    background-color: $accent-color;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/main-page/hero/hero-img-768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 768px;
    height: 400px;

    .container {
      padding-top: 118px;
      padding-bottom: 118px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .hero-title {
    margin-bottom: 30px;
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-color-text;
  }
  .modal-btn {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $third-color-text;
    background-color: $accent-color;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/main-page/hero/hero-img-1600.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  .hero-title {
    margin-bottom: 30px;
    font-family: $main-font;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-color-text;
  }
  .modal-btn {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: $third-color-text;
    background-color: $accent-color;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
