/*Team*/

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: $background-secondary-color;
  }
  .container {
    align-items: center;
  }

  .heading-title {
    margin-bottom: 30px;
  }
  .team-list-teamate-img {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  .team-list-social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
  .team-list {
    display: flex;
    flex-direction: column;

    &-item {
      background-color: $background-color;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px;
    }

    &-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .teamate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color-text;
  }
  .teamate-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .team-list-social-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $color-icons;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;

    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
      color: $background-color;
    }
  }

  .social-svg-item {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: $background-secondary-color;
  }
  .heading-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .team-list-teamate-img {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  .team-list-social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      background-color: $background-color;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px;
    }

    &-item:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &-item:nth-child(odd) {
      margin-right: 30px;
    }
  }
  .team-list-item {
    width: 354px;
    height: 422px;
  }
  .teamate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color-text;
  }
  .teamate-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .team-list-social-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $color-icons;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;

    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
      color: $background-color;
    }
  }

  .social-svg-item {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-color: $background-secondary-color;
  }
  .team-list-teamate-img {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  .team-list-social {
    display: flex;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
  .team-list {
    display: flex;
    justify-content: space-between;

    &-item {
      margin-right: 30px;
      background-color: $background-color;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px;
    }
  }
  .teamate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color-text;
  }
  .teamate-position {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-text;
  }
  .team-list-social-item-link {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: $color-icons;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;

    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
      color: $background-color;
    }
  }

  .social-svg-item {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}
