/*what we do*/

.what-we-do {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-do-list {
  display: flex;
}
.what-we-do-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.what-we-do-list-item-img {
  display: block;
}
.heading-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-color-text;
}
.what-we-do-description {
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third-color-text;
  background-color: rgba(47, 48, 58, 0.5);
}
