/*Модальное окно*/

.form-on-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form {
  position: relative;
  padding: 40px;
  width: 528px;
  height: 581px;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  align-items: center;
}
.modal-label-textarea {
  position: relative;
  margin-bottom: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 448px;
  height: 120px;
  resize: none;
}
.modal-span-text {
  position: absolute;
  top: 12px;
  left: 16px;
  color: $main-color-text; /*
  transform: translateY(0%, -50%);*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-textarea:focus-within > .modal-span-text,
.modal-form-text:not(:placeholder-shown) + .modal-span-text {
  transform: translate(-10px, -35px);
  color: $accent-color;
}
.modal-wrapper {
  position: relative;
  margin-bottom: 28px;
}
.modal-label {
  position: absolute;
  left: 42px;
  color: $main-color-text;
  top: 50%;
  transform: translate(0%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-form-title {
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
}
.modal-form-title,
.modal-form-text {
  display: block;
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: $main-color-text;
}
.modal-form-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.modal-form-title:focus + .modal-label,
.modal-form-title:not(:placeholder-shown) + .modal-label,
.modal-form-title:focus ~ .icon-form-span {
  transform: translate(-25px, -40px);
  color: $accent-color;
  fill: $accent-color;
}
.modal-form-title ~ .icon-form-span {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-title:focus,
.modal-form-text:focus {
  outline: none;
  border-color: $accent-color;
}
.modal-form-span {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $main-color-text;
  margin-left: 7px;
}
.modal-form-span a {
  color: $accent-color;
}
.modal-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-form-my-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
  border-radius: 2px;
}
.icon-check {
  width: 100%;
  height: 100%;
}
.modal-form-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-check:checked ~ .modal-form-my-check {
  background-color: $accent-color;
  border: transparent;
}
.modal-close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0px;
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  fill: $accent-color;
}
.icon-close {
  margin: auto;
  width: 18px;
  height: 18px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form-accept {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  background-color: $accent-color;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: $third-color-text;
}
