$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-color-text: #757575;
$secondary-color-text: #212121;
$third-color-text: #ffffff;
$accent-color: #2196f3;
$background-color: #ffffff;
$background-secondary-color: #f5f4fa;
$background-footer-color: #2f303a;
$color-icons: #afb1b8;
